<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jay Davis</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&family=Sacramento&display=swap" rel="stylesheet">
<body>
    <div id="top-container">
        <img class="top-cloud" src="static/images/cloud.png" alt="cloud image">
        <h1>I'm Jay.</h1>
        <h2>A programmer.</h2>
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud image">
        <img src="static/images/mountain.png" alt="mountain image">
    </div>
<div class="middle-container">
  <div class="profile">
    <img src="static/images/jay.png" height="150px" alt="A picture of John Davis studious black male with neat dreadlocks">
    <h2>Hi.</h2>
      <p>Owner of <a href="https://www.tenjaware.com">Tenjaware</a> and software developer, currently with a <em>
          python</em> emphasisI am a freelance developer who works on <strong>projects of interest</strong> to me personally.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="python-skill-img" src="https://www.python.org/static/img/python-logo.png"
           alt="python coding language logo">
      <h3>Python Coding</h3>
        <p class="skill-description">Extensive study of the python coding language with many completed projects.</p>
    </div>
    <div class="skill-row">
      <img class="metaquotes-skill-img" src="https://www.metaquotes.net/i/logo.png" alt="Metaquotes logo">
      <h3>Metaquotes Development</h3>
      <p class="skill-description">Many years coding Expert Advisers, Indicators and other Utilities for use with MT4 and MT5.</p>
    </div>
  </div>
  <hr>
  <div class="contact-me" >
    <h2>Get In Touch</h2>
    <h3>Thanks for checking out my site.</h3>
    <p>Sporadically I look at the social medias, sometimes its pretty interesting.</p>
    <a class="btn" href="mailto:512jay@gmail.com">CONTACT ME</a>
  </div>
</div>


<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/johnjaydavis/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/DevCroesus/">Twitter</a>
  <a class="footer-link" href="https://www.tenjaware.com">Website</a>
  <p class="copyright">© 2022 John Davis.</p>
</div>


</body>
</html>